<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="MysqlCompat Test Suite">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
</phpunit>